<!DOCTYPE html>
<html lang="en">
    <head>
        <title>EJS</title>
        <meta http-equiv="content-type" content="text/html; charset=UTF-8" />
        <link rel="stylesheet" href="/styles/styles.css" />
    </head>
    <body>
        <header>
            <%- include('../partials/header.ejs'); %>
        </header>
    </body>
</html>